@echo off
REM Copy this file and rename to setup_env_vars.bat
REM Add your own environment specifics in here.

set DB_USER=sa
set DB_PASSWORD=
set DB_DRIVER=org.h2.Driver
set DB_URL=jdbc:h2:mem:play

REM set DB_USER=postgres
REM set DB_PASSWORD=password
REM set DB_DRIVER=org.postgresql.Driver
REM set DB_URL=jdbc:postgresql://localhost:5432/car_finance

set SMTP_MOCK=false
set SMTP_USER=car.finance.test.7744@gmail.com
set SMTP_PASSWORD=young-hollows-7744
set SMTP_HOST=smtp.gmail.com
set SMTP_PORT=465