@(message: String)

@main("Welcome to Play 2.1") {

	<table class="table table-striped table-bordered table-hover table-condensed">
		<caption>Environments</caption>
		<tr>
			<th>Deploy Date</th>
			<th>Name</th>
			<th>Version</th>
			<th></th>
		</tr>

			
		<tr>
			<td>Unknown</td>
			<td>
				Bleeding Edge Dev
			</td>
			<td>Unknown</td>
			<td>
				<a href="http://young-hollows-7744.herokuapp.com/">
					<i class="icon-share-alt"></i>
					View</a>
			</td>
		</tr>

		<tr>
			<td>Unknown</td>
			<td>
				Nightly Build
			</td>
			<td>Unknown</td>
			<td>
				<a href="http://quiet-cove-3828.herokuapp.com/">
					<i class="icon-share-alt"></i>
					View</a>
			</td>
		</tr>
		
		<tr>
			<td>Unknown</td>
			<td>
				Weekly Build
			</td>
			<td>Unknown</td>
			<td>
				<a href="http://dry-headland-4099.herokuapp.com/">
					<i class="icon-share-alt"></i>
					View</a>
			</td>
		</tr>

	</table>
}
