@(loanApplications: List[LoanApplication])

@main("Welcome to Play 2.1") {

	<a href="@routes.LoanApplicationController.New()">New</a>
	
	<ul>
		@for(loanApplication <- loanApplications) {
			<li>
				@loanApplication.make

			</li>
			<li>
				<a href="@routes.LoanApplicationController.read(loanApplication.id)">Application @loanApplication.id</a>
			</li>
		}
	</ul>

	
	<script src="@routes.Assets.at("js/compiled.js")" type="text/javascript"></script>

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("less/loanApplication.css")">

}
